[include]
     	path = 	~/.config/git/tokyonight_moon.gitconfig
[user]
	name = juandrzej
	email = programming.yippee729@passinbox.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
	dark = true
	navigate = true
    	line-numbers = true
[merge]
	conflictStyle = zdiff3
